*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow{
    background-color: lightyellow;
    color: green;
}

.red{
    background-color: red;
    color: white;
}

.dark_text{
    color: rgb(31, 29, 29);
}

.bold_text{
    font-weight: 900;
}

.box{
    height: 100px;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
}