*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    
}

.container{
    display:inline-block;
    border: 2px solid black;
    /* height: 500px; */
    /* width: 500px; */
    margin: 10px;
    padding: 10px;
}

.container #heading{
    margin-bottom: 10px;
}

.container #todoInput{
    padding: 5px;
    border: 2px solid rgba(165, 163, 163, 0.541);
}

.container #dueDate{
    padding: 4px;
    border: 2px solid rgba(165, 163, 163, 0.541);
}

.container #addBT{
    padding: 7px 16px;
    border: none;
    background-color: rgba(8, 182, 8, 0.651);
}

.container #todoRender{
    /* border: 2px solid black; */
    /* height: 50px; */
    margin-top: 5px;
    
}

#todoRender p{
    height: 33px;
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
}

#todoRender #todo{
    /* border: 2px solid black; */
    display: flex;
    width: 176px;
    /* height: 100%; */
    
    margin-right: 4px;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    /* padding: 0px 5px; */
}

#todoRender #date{
    /* border: 2px solid black; */
    display: flex;
    /* display: inline-block; */
    width: 124px;
    height: 100%;
    margin-right: 4px;
    justify-content: center;
    align-items: center;
    
}

#deleteBT{
    background-color: rgba(241, 86, 86, 0.589);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: none;
    height: 16px;
    /* padding: 0px; */
    width: 55px;
}   