*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 400px;
    width: 290px;
    border: 2px solid rgba(87, 85, 85, 0.452);
}

#imgTab{
    height: 80%;
    width: 100%;

}

#imgelement{
    height: 100%;
    width: 100%;
}


#btTab{
    height: 20%;
    width: 100%;
}

#btelement{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: none;
}

